@{
    ViewData["Title"] = "Home Page";
}

<body>
    <!-- Top well w/img and intro -->
    <div class="row">
        <div class="col-md-12">
            <div class="well" style="overflow:hidden;">
                <div class="col-lg-8"><img src="~/images/pc-logo.PNG" style="width:100%" /></div>
                <div class="col-lg-4" style="margin-top:-1%">
                    <h2>Welcome to <b>HelpDesk</b></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec et lorem condimentum, bibendum nulla posuere, congue magna.
                        Proin dolor urna, accumsan sed elit in, rutrum mollis nulla.
                        Aenean nec velit eget sapien fringilla malesuada.
                        Donec quis leo augue. Nunc lobortis scelerisque luctus.
                        Praesent suscipit odio at risus fringilla faucibus.
                        Pellentesque ornare posuere viverra.
                    </p>
                    <br />
                    <a class="btn btn-primary btn-lg" href="#">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /top well-->

    <!-- blue Card -->
    <div class="card">
        <div class="well" style="background-color:#337ab7">
            <center><p style="color:white; font-size:16px; margin-top:.5%;">Need help with something? Please select a topic on the left-side navigation or below to get started. Customer Service: 1-800-497-6285 </p></center>
        </div>
    </div>
    <!-- /blue Card -->

    <!-- bottom choices (cards) -->
    <div class="row well" style="margin-left:2px; margin-right:2px; padding-bottom:5%;">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Member Module</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Get Help</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Contributions Processing</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Pension Processing</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
    </div>
    <!-- /bottom menu (cards) -->
</body>