@{
    ViewData["Title"] = "Contact";
}

<body>
    <!-- Top well w/img and intro -->
    @*<h1 style="margin-top:-15px; padding-bottom: 5px;">MemberTrack Main Screen</h1>*@
    <div class="row">
        <div class="col-md-12">
            <div class="well" style="overflow:hidden;">
                <div class="col-lg-8"><img src="~/images/MainScreen/MainScreen.PNG" style="width:100%" /></div>
                <div class="col-lg-4" style="margin-top:-1%">
                    <h2>The <b>Main Screen</b></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec et lorem condimentum, bibendum nulla posuere, congue magna.
                        Proin dolor urna, accumsan sed elit in, rutrum mollis nulla.
                        Aenean nec velit eget sapien fringilla malesuada.
                        Donec quis leo augue. Nunc lobortis scelerisque luctus.
                        Praesent suscipit odio at risus fringilla faucibus.
                        Pellentesque ornare posuere viverra.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>