@{
    ViewData["Title"] = "Tour";
}

<body>
    <!-- Top well w/img and intro -->
    <div id="main">
            <div class="col-md-12">
              <div class="row">
                <div class="well" style="overflow:hidden;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8"><div class="well">HEY HEY</div></div>
                    <div class="col-lg-2" style="margin-top:-1%">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>